<a href="https://colab.research.google.com/github/pdivase/ecom/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set Exercises:

In [ ]:
#.Q 1. write a python program to find the union of two sets.

A = {2,4,5,6}
B = {4,6,7,8}
print("A  U  B:", A.union(B))

A  U  B: {2, 4, 5, 6, 7, 8}

In [ ]:
# Q .2. write a python program to find the intersection of two sets.

P = {2,3,5}
Q = {1,3,5}
print(Q.intersection(P))

{3, 5}

In [ ]:
# Q. 3. write a python program to check if a set is a subset of another set.
X = {10,20,30,40,50,60}
Y = {50,40,30}
Z = {10,20,60,}
print("X:",X)
print("Y:",Y)
print("Z:",Z)
print(Y.issubset(X))
print(Z.issubset(X))
print(Y.issubset(Z))

X: {50, 20, 40, 10, 60, 30}
Y: {40, 50, 30}
Z: {10, 20, 60}
True
True
False

In [ ]:
# Q. 4 write a python program to remove duplicate elements from a set.
my_set = {1,2,2,3,4,4,5,5,6}
unique_set = set(list(my_set))
print('set after removing duplicates:', unique_set)

set after removing duplicates: {1, 2, 3, 4, 5, 6}

In [ ]:
# Q. 5. write a python program to add an element from a set.
A = {1,2,3,4,5}
A.add(6)
print("A:",A)

A: {1, 2, 3, 4, 5, 6}

In [ ]:
# Q.6. write a python program to remove an element from a set.
X = set([0,1,3,4,5])
print('original set:')
print(X)
X.pop()
print("\n After removing the element from the said set:")
print(X)

original set:
{0, 1, 3, 4, 5}

 After removing the element from the said set:
{1, 3, 4, 5}

In [ ]:
# Q. 7. write a python program to find the difference between two sets.
A = {10,20,30,40,50,60}
B = {100,30,40,60,90,20}
print(A.difference(B))
print(B.difference(A))

{50, 10}
{90, 100}

In [ ]:
# .Q .8. write a python program to check if two sets are disjoint.
X = {'Apple', 'Banana', 'Cherry'}
Y = {'google', 'microsoft', 'facebook'}
Z = X.isdisjoint(Y)
print(Z)

True

In [ ]:
# Q . 9. write python program to find the symmetric difference between two sets.
A = {1,2,3,4,5}
B = {3,4,5,6,7}
symmetric_diff = A^B
print('symmetric difference:',symmetric_diff)

symmetric difference: {1, 2, 6, 7}

In [ ]:
# Q. 10. write a python program to check if a set is empty.
X = {}
if not X:# using not operator
  print('set is empty')
else:
  print('set is not empty')

set is empty

Dictionary Exercises

In [ ]:
# .Q. 1 . write a python program to iterate over a dictionary and print its keys and values.
dt = {'a':'juice', 'b':'grill','c':'corn'}
for key,value in dt.items():

 print(key, value)

a juice
b grill
c corn

In [ ]:
#.Q.2. write a python program to check if a key exists in a dictionary.
A = {'P':'Pune', 'M':'Mumbai', 'S':'Solapur', 'K':'Kolhapur'}
if 'M' in A:
  print('key exists in the dictionary.')
else:
  print('key does not exist in the dictionary.')

key exists in the dictionary.

In [ ]:
#.Q.3. write a python program to get the value associated with a key in a dictionary.
my_dict = {'name':'poonam','age': 25,'city':'Pune'}
key_to_get = 'name'
if  key_to_get in my_dict:
  value = my_dict[key_to_get]
  print(f"the value associated with '{key_to_get}'is: {value}")
else:
  print(f"'{key_to_get}' does not exist in the dictionary.")

the value associated with 'name'is: poonam

In [ ]:
#.Q.4.write a python program to remove a key from a dictionary.
new_dict = {'a':1,'b':2,'c':3,'d':4}
print(new_dict)
if 'd' in new_dict:
  del new_dict['d']
print(new_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#.Q.5. write a python program to sort a dictionary by its values.
dict = {1:'poonam',2:'pooja', 3:'mayuri', 4:'geetanjali'}
sorted_dict = {key:value for key, value in sorted(dict.items(), key=lambda item: item[1])}
(sorted_dict)

{4: 'geetanjali', 3: 'mayuri', 2: 'pooja', 1: 'poonam'}

In [ ]:
# Q.6. write a python program to merge two dictionaries.
def merge(A, B):
  return(B.update(A))
A = {'a':10, 'b':8, 'c':5, 'd':6}
B = {1:'poonam', 2:'Pooja', 3:'shivansh', 4:'devansh' }
print(merge(A,B))
print(B)

None
{1: 'poonam', 2: 'Pooja', 3: 'shivansh', 4: 'devansh', 'a': 10, 'b': 8, 'c': 5, 'd': 6}

In [ ]:
# Q. 7. write a python program to count the frequency of each element in a dictinary.
!pip install counter

Requirement already satisfied: counter in /usr/local/lib/python3.10/dist-packages (1.0.0)

In [ ]:
from collections import Counter
def test(Dict):
  result = Counter(dict.values())
  return result

dict = {'A':10, 'B':15, 'C':20, 'D':10, 'E':15, 'F':10}
print('\n original Dictionary:')
print(dict)
print('\nCount the frequency of the said dictionary:')
print(test(dict))

 original Dictionary:
{'A': 10, 'B': 15, 'C': 20, 'D': 10, 'E': 15, 'F': 10}

Count the frequency of the said dictionary:
Counter({10: 3, 15: 2, 20: 1})

In [ ]:
#.Q.8.write a python program to find the length of a dictionary.
X ={'Name':'Devansh', 'Age':25, 'Designation':'Developer','City':'Pune'}
print('Dictionary:', X)
print('Length of dictionary:', len(X))

Dictionary: {'Name': 'Devansh', 'Age': 25, 'Designation': 'Developer', 'City': 'Pune'}
Length of dictionary: 4

In [ ]:
#.Q.9. write a python program to check if a dictionary is empty.
A = {}
print('the original dictionary :'+ str(A))
B = not bool(A)
print('is dictionary empty ? :' + str(B))

the original dictionary :{}
is dictionary empty ? :True

In [ ]:
#.Q.10. write a python program to find the keys with the maximum and minimum values in a dictionary.
D = {'a':100, 'b':20, 'c':50, 'e':80,'f':40}
print(max(D))
print(min(D))

f
a

Range Exercise.

In [ ]:
#.Q.1. write a python program to iterate over a range of numbers and print them.
start = 1
end = 10
# use a for loop to iterate over the range
for num in range(start, end + 1):

  print(num)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#.Q.2. write a python program to find the sum of all numbers in a range.
start = 1
end = 10
sum = 0
for i in range(start, end+1):
  sum+=i
print(sum)

55

In [ ]:
#.Q.3. write a python program to print all even numbers in a given range.
start = 0
end = 20
for i in range(0,20):

 if i%2 == 0:
  print(i, end=',')

0,2,4,6,8,10,12,14,16,18,

In [ ]:
 #.Q.4 write a python program to print all odd numbers in  a given range.
 start = 0
 end = 20
 for i in range(0,20):
  if i%2 != 0:
    print(i, end=', ')

1, 3, 5, 7, 9, 11, 13, 15, 17, 19,

In [ ]:
#.Q.5.write a python program to find the average of all numbers in a range.
start = 1
end = 10
total =0
count = 0
for num in range(start, end + 1):
  total += num
  count += 1

average =  total/count

print(f' the average of numbers from {start} to {end} is {average:.2f}')

 the average of numbers from 1 to 10 is 5.50

In [ ]:
#.Q. 6 write a python program to check if a number is present in a given range.
start = 1
end = 10
number_to_check = int(input('enter a number: '))

if start <= number_to_check<= end:
  print(f"{number_to_check} is present in the range from {start} to {end}")
else:
  print(f"{number_to_check} is not in the range from {start} to {end}")

enter a number: 11
11 is not in the range from 1 to 10

In [ ]:
#.Q.7. write a python program to reverse a range of numbers and print them.

start = 1
end = 10
for num in range(end, start -1,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [ ]:
#.Q.8.write a python program to find the product of all numbers in a range.
start = 1
end = 5
product =1
for num in range(start, end + 1):
  product *= num

print(f"the product of numbers from {start} to {end} is {product}")

the product of numbers from 1 to 5 is 120

In [ ]:
#.Q.9. write a python program to print the squares of all numbers in a range.
start = 1
end = 5
for num in range(start, end + 1):
    square = num*num
    print(f"the square of {num} is {square}")

the square of 1 is 1
the square of 2 is 4
the square of 3 is 9
the square of 4 is 16
the square of 5 is 25

In [ ]:
#.Q.10.write a python program to print the cube of all numbers in  a range.
start = 1
end = 5
for num in range(start , end + 1):
  cube =num**3
  print(f"the cube of {num} is {cube}")

the cube of 1 is 1
the cube of 2 is 8
the cube of 3 is 27
the cube of 4 is 64
the cube of 5 is 125

If-Else Loop Exercises:

In [ ]:
#.Q.1. write a python program to check if a number is even or odd.
num = int (input('enter any number to test whether it is odd oe even:'))
if (num % 2) == 0:
  print('the number is even')
else:
  print('the number is odd')

enter any number to test whether it is odd oe even:8
the number is even

In [ ]:
#.Q.2.write a python program to check if a number is positive, negative , or zero.
num= float(input('enter a number:'))
if num > 0:
  print('number is positive')
elif num == 0:
  print ('zero')
else:
  print('the number is negative')

enter a number:-20
the number is negative

In [ ]:
#.Q.3.write a python program to check if a year is leap year or not.
def check_leap(year):
 if((year % 400==0) or
     (year % 100 != 0) and
     (year % 4 == 0)):
     print('given year is leap year');
 else:
  print('given year is not a leap year');
year = int(input('enter the number:'))
check_leap(year)

enter the number:2001
given year is not a leap year

In [ ]:
#.Q.4. write a python program to find maximum of three numbers using if-else.
num1 = int(input('enter the first number:'))
num2 = int(input('enter the second number:'))
num3 = int(input('enter the third number:'))

if num1>= num2 and num1>=num3:
  max_num = num1
elif num2>= num1 and num2>=num3:
  max_num = num2
else:
  max_num = 3
print('the maximum number is:' , max_num)

enter the first number:5
enter the second number:2
enter the third number:1
the maximum number is: 5

In [ ]:
#.Q.5.write a python program to check if a number is prime.
n = 2
if n > 1:
  for i in range(2, int(n/2)+1):
    if(n % i) == 0:
      print(num, 'is not a prime number')
    break
  else:
    print(n,'is a prime number')
else:
  print(n,'is not a prime number')

2 is a prime number

In [ ]:
#.Q.6. write  apython program to check if a number is divisible by both 3 and 5.
num1 = int(input('enter the number:'))
num2 = int(input('enter the number'))
for i in range (num1, num2+1):
  if((i%3==0)) & (i%5==0):
    print(i)

enter the number:0
enter the number99
0
15
30
45
60
75
90

In [ ]:
#.Q.7.write a python program to check if a character is a vowel or consonant.
character = input('enter a character:')
vowels = ['a','e','i','o','u','A','E','I','O','U']
if character in vowels:
  print("the character'{character}' is a vowel!")

else:
  print("the character'{character}' is a consonant")

enter a character:o
the character'{character}' is a vowel!

In [ ]:
#.Q.8. write a python program to check if a given string is a palindrome using if-else

def is_palindrome(input_string):
  cleaned_string = input_string.replace("","").lower()
  if cleaned_string == cleaned_string[::-1]:
    return True
  else:
    return False

user_input = input('enter a string:')
if is_palindrome(user_input):
  print('its a palindrome!')
else:
  print('its  not a palindrome.')

enter a string:dev
its  not a palindrome.

In [ ]:
#.Q.9. write a python program to determine the largest among three numbers using nested if-else.
a = int(input('enter A:'))
b = int(input('enter B:'))
c = int(input('enter C:'))

if a>b:
  if a>c:
    l=a
  else:
    l=c
else:
  if b>c:
     l=b
  else:
    l=c
print('largest = ' ,l)

enter A:10
enter B:6
enter C:15
largest =  15

In [ ]:
#.Q.10. write a python program to check if a triangle is equilateral, isosceles, or scalene based on its side lengths using if-else.

print('input lengths of the triangle sides:')
x = int(input('x:'))
y = int(input('y:'))
z = int(input('z:'))
if x==y==z:
  print('Equilateral triangle')
elif x==y or y==z or z==x:
  print('isosceles triangle')
else:
  print('scalene triangle')

input lengths of the triangle sides:
x:5
y:5
z:6
isosceles triangle

For loop Exercise:

In [ ]:
#.Q.1 write a python program to print the numbers from 1 to 10 using a for loop.
for i in range(1, 11):
 print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#.Q.2. write a python program to calculate the sum of all numbers in a list using a for loop.
numbers = [1,2,3,4,5,6,7,8,9,10]
sum_of_numbers = 0
for number in numbers:
 sum_of_numbers +=number

print('the sum of the numbers is:' , sum_of_numbers)

the sum of the numbers is: 55

In [1]:
#.Q.3. write a python program to find the factorial of a number using a for loop.
def factorial(n):
  if n<0:
    return ' Factorial is not defined for negative numbers'
  elif n == 0:
    return 1
  else:
    result = 1
    for i in range(1, n+1):
      result *= i
    return result

num = int(input('enter a number:'))
fact = factorial(num)
print(f"the factorial of {num} is {fact}")

enter a number:6
the factorial of 6 is 720

In [2]:
#.Q.4.write a python program to print all the even numbers between 1 and 50 using for loop.
for num in range(1,51):
  if num%2==0:
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [3]:
#.Q.5. write a python program to iterate over a string and print each character using a for loop.
text = "hello, world!"

for char in text:
  print(char)

h
e
l
l
o
,

w
o
r
l
d
!

In [4]:
#.Q.6. write a python program to iterate over a list of tuple and print each element using a for loop.
A = [(1,'apple'),(2,'banana'),(3,'cherry')]
for item in A:
  for element in item:
    print(element)

1
apple
2
banana
3
cherry

In [5]:
#.Q.7.write a python program to find the largets element in a list using for loop.
list1 = []
num = int(input('enter number of elements in list:'))
for i in range(1, num+1):
  ele = int(input('enter elements:'))
  list1.append(ele)
print('largest element is :', max(list1))

enter number of elements in list:5
enter elements:9
enter elements:82
enter elements:5
enter elements:56
enter elements:86
largest element is : 86

In [8]:
#.Q.8. write python program to check if all elements in a list are even using a for loop.
def are_all_even(input_list):
  for element in input_list:
    if element % 2 != 0:
       return False
    return True

my_list = [1,4,6,8,10]
result = are_all_even(my_list)
if result:
  print('all elements in the list are even')

else:
  print('not all elements in the list are even')

not all elements in the list are even

In [12]:
#.Q.9.write a python program to find the common elements between two lists using a for loop.
def find_common_elements(list1, list2):
  common_elements = []
  for element1 in list1:
    for element2 in list2:
      if element1 == element2:
        common_elements.append(element1)
        break

  return common_elements
list1 = [1,2,3,4,5]
list2 = [3,4,5,6,7]

common_elements = find_common_elements(list1, list2)
if common_elements:
  print('common elements in the two lists are :', common_elements)
else:
  print('there are no common elements in the two lists')

common elements in the two lists are : [3, 4, 5]

In [14]:
#.Q.10. write a python program to calculate the sum of the digits of a number using a for loop.
def getSum(n):

  sum = 0
  for digit in str(n):
    sum += int(digit)
  return sum
n = 111
print(getSum(n))

3