<a href="https://colab.research.google.com/github/pdivase/ecom/blob/main/Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set Exercises:

In [2]:
!git clone https://github.com/pdivase/python.git

fatal: destination path 'python' already exists and is not an empty directory.

In [ ]:
#.Q 1. write a python program to find the union of two sets.

A = {2,4,5,6}
B = {4,6,7,8}
print("A  U  B:", A.union(B))

A  U  B: {2, 4, 5, 6, 7, 8}

In [ ]:
# Q .2. write a python program to find the intersection of two sets.

P = {2,3,5}
Q = {1,3,5}
print(Q.intersection(P))

{3, 5}

In [ ]:
# Q. 3. write a python program to check if a set is a subset of another set.
X = {10,20,30,40,50,60}
Y = {50,40,30}
Z = {10,20,60,}
print("X:",X)
print("Y:",Y)
print("Z:",Z)
print(Y.issubset(X))
print(Z.issubset(X))
print(Y.issubset(Z))

X: {50, 20, 40, 10, 60, 30}
Y: {40, 50, 30}
Z: {10, 20, 60}
True
True
False

In [ ]:
# Q. 4 write a python program to remove duplicate elements from a set.
my_set = {1,2,2,3,4,4,5,5,6}
unique_set = set(list(my_set))
print('set after removing duplicates:', unique_set)

set after removing duplicates: {1, 2, 3, 4, 5, 6}

In [ ]:
# Q. 5. write a python program to add an element from a set.
A = {1,2,3,4,5}
A.add(6)
print("A:",A)

A: {1, 2, 3, 4, 5, 6}

In [ ]:
# Q.6. write a python program to remove an element from a set.
X = set([0,1,3,4,5])
print('original set:')
print(X)
X.pop()
print("\n After removing the element from the said set:")
print(X)

original set:
{0, 1, 3, 4, 5}

 After removing the element from the said set:
{1, 3, 4, 5}

In [ ]:
# Q. 7. write a python program to find the difference between two sets.
A = {10,20,30,40,50,60}
B = {100,30,40,60,90,20}
print(A.difference(B))
print(B.difference(A))

{50, 10}
{90, 100}

In [ ]:
# .Q .8. write a python program to check if two sets are disjoint.
X = {'Apple', 'Banana', 'Cherry'}
Y = {'google', 'microsoft', 'facebook'}
Z = X.isdisjoint(Y)
print(Z)

True

In [ ]:
# Q . 9. write python program to find the symmetric difference between two sets.
A = {1,2,3,4,5}
B = {3,4,5,6,7}
symmetric_diff = A^B
print('symmetric difference:',symmetric_diff)

symmetric difference: {1, 2, 6, 7}

In [ ]:
# Q. 10. write a python program to check if a set is empty.
X = {}
if not X:# using not operator
  print('set is empty')
else:
  print('set is not empty')

set is empty

Dictionary Exercises

In [ ]:
# .Q. 1 . write a python program to iterate over a dictionary and print its keys and values.
dt = {'a':'juice', 'b':'grill','c':'corn'}
for key,value in dt.items():

 print(key, value)

a juice
b grill
c corn

In [ ]:
#.Q.2. write a python program to check if a key exists in a dictionary.
A = {'P':'Pune', 'M':'Mumbai', 'S':'Solapur', 'K':'Kolhapur'}
if 'M' in A:
  print('key exists in the dictionary.')
else:
  print('key does not exist in the dictionary.')

key exists in the dictionary.

In [ ]:
#.Q.3. write a python program to get the value associated with a key in a dictionary.
my_dict = {'name':'poonam','age': 25,'city':'Pune'}
key_to_get = 'name'
if  key_to_get in my_dict:
  value = my_dict[key_to_get]
  print(f"the value associated with '{key_to_get}'is: {value}")
else:
  print(f"'{key_to_get}' does not exist in the dictionary.")

the value associated with 'name'is: poonam

In [ ]:
#.Q.4.write a python program to remove a key from a dictionary.
new_dict = {'a':1,'b':2,'c':3,'d':4}
print(new_dict)
if 'd' in new_dict:
  del new_dict['d']
print(new_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#.Q.5. write a python program to sort a dictionary by its values.
dict = {1:'poonam',2:'pooja', 3:'mayuri', 4:'geetanjali'}
sorted_dict = {key:value for key, value in sorted(dict.items(), key=lambda item: item[1])}
(sorted_dict)

{4: 'geetanjali', 3: 'mayuri', 2: 'pooja', 1: 'poonam'}